/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
article {
    max-width: 60em;
    margin: 0 auto;
    padding: 60px 0 60px;
}


.blog-image img {
    margin-bottom: 0;
}

.blog-image {
    float: right;
}

.col1, .col2 {
    float: left;
    width: 44%;
}

.col2 {
    margin-left: 12%;
    margin-top: 0;
}

.col1.compact, .col2.compact {
    margin-left: 6%;
}

.nav a {
    font-size: 17px;
}

.nav {
    margin: 0;
}

#footer {
    font-size: 0.95em;
}

.total-price {
    margin-top: 15px;
}

body {
    font-size: 18px;
}

#body div {
    line-height: 26px;
}

.primary-background-toothbrush {
    min-height: 82vh;
}

.user-cart {
    font-size: 1em;
    top: 1px;
}

.user-cart-image {
    width: 1.125em;
    top: 4px;
    margin-right: 1px;
}

.order-item-price {
    float: right;
}

.order-item {
    font-size: 16px;
}

.order-form .order-item-quantity {
    font-size: 14px;
}

.cup-wash-image {
    float: right;
    margin-top: 0;
}

.new-cup-image {
    margin-left: 40%;
    position: relative;
    top: -30px;
}

.primary-background {
    font-size: 18px;
}



/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 30em) and (max-width: 63.236em) {

    article {
        max-width: 30em;
        margin: 0 auto;
        padding: 60px 20px 60px;
    }

    .blog-image img {
        margin-bottom: 20px;
    }

    .blog-image {
        float: none;
    }

    .col1, .col2 {
        float: left;
        width: 100%;
    }

    .col2 {
        margin-left: 0;
        margin-top: 60px;
    }

    .col1.compact, .col2.compact {
        margin-left: 0;
        margin-top: 0;
    }

    .nav a {
        font-size: 24px;
    }

    .nav {
        margin-top: 10px;
    }

    #footer {
        font-size: 1.25em;
    }

    .total-price {
        margin-top: 15px;
    }

    body {
        font-size: 22px;
    }

    #body div {
        line-height: 32px;
    }

    .review {
        width: 100%;
        margin-bottom: 40px;
    }

    .primary-background-toothbrush {
        min-height: 38vh;
    }

    .user-cart {
        font-size: 1.075em;
        top: 2px;
    }

    .user-cart-image {
        width: 1.25em;
        top: 5px;
        margin-right: 2px;
    }

    .order-item-price {
        float: none;
    }

    .order-item {
        font-size: 22px;
    }

    .order-form .order-item-quantity {
        font-size: 22px;
    }

    .cup-wash-image {
        float: left;
        margin-top: 30px;
    }

    .new-cup-image {
        margin-left: 0%;
        position: relative;
        top: -30px;
    }

    .primary-background {
        font-size: 16px;
    }

}